body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#input, .button-small, .button-large {
  font-size: 30px;
}

#input-screen {
  width: 416px;
  height: 104px;
  background-color:#2196f3;
  text-align: left;
}

#input {
  color: white;
  position:absolute;
  top: 20px;
  width:584px;
  margin:20px;
  overflow: hidden;
  height: 40px;
}

#case {
  display:block;
  margin:auto;
  width: 416px;
  height: 624px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 7px 7px 33px -5px rgba(0,0,0,0.54);
  -moz-box-shadow: 7px 7px 33px -5px rgba(0,0,0,0.54);
  box-shadow: 7px 7px 33px -5px rgba(0,0,0,0.54);
}

.button-small {
  height: 104px;
  width: 104px;
  float: left;
  background-color:#6ec6ff;
  transition: all 0.3s ease 0s;
}

.button-small:hover {
  background-color:#64b5f6;
  z-index:2;
  -webkit-box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
  -moz-box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
  box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
}

.button-large {
  height: 104px;
  width: 208px;
  float: left;
  background-color:#ff5c8d;
  transition: all 0.3s ease 0s;
}

.button-large:hover {
  background-color:#ff94c2;
  -webkit-box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
  -moz-box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
  box-shadow: inset 5px 5px 21px -3px rgba(0,0,0,0.39);
}

.functions {
  background-color:#0069c0;
}

.functions:hover {
  background-color:#2286c3;
}

.clear {
  clear: left;
}

#small-text {
  font-size: 16px;
}